/* Full-width input fields */
input[type=text], input[type=password], input[type=email], input[type=date], input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 50px;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.356);
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

/*input[name=fname], input[name=lname], input[name=email], input[name=dob], input[name=phoneNo], input[name=balance],
input[name=account] {
    width: 40%;
}*/

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=date]:focus, input[type=number]:focus {
    box-shadow: 0 0 5px rgb(177, 13, 81);
}

#regline {
    border-color: #6f42c1;
    height: 5px;
}

/* Set a style for all buttons */
button {
  background-color: #6f42c1;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.616);
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

button:hover {
  opacity: 0.8;
}

.registerbtn {
    position: absolute;
    width: 150px;
    top: 0;
    left: 25px;
}

.registerbtn::after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 0px;
    right: -20px;
    transition: 0.5s;
    font-size: 30px;
}

.registerbtn:hover{
    padding-right: 24px;
    padding-left:8px;
}
  
.registerbtn:hover::after {
    opacity: 1;
    right: 10px;
}

.loginbtn {
    position: absolute;
    width: 150px;
    top: 0;
    left: 25px;
}

.loginbtn::after {
    content: '«';
    position: absolute;
    opacity: 0;  
    top: 0px;
    left: -20px;
    transition: 0.5s;
    font-size: 30px;
}

.loginbtn:hover {
    padding-right: 8px;
    padding-left: 24px;
}
  
.loginbtn:hover::after {
    opacity: 1;
    left: 10px;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 25%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}